<div th:fragment="html">
    <div id="footer"  class="footer" style="display: block;">
        <div id="footer_ensure" class="footer_ensure">
            <a href="#nowhere">
                <img src="img/site/ensure.png">
            </a>
        </div>
         <!-- 底部 -->
	<div class="footer">
		<div class="footer_text1">合作单位</div>
		<div class="footer_text2">中国科学院信息工程研究所</div>
    	<div class="container text-center">
      	  <span class="footer_text3">©2011-2018 中国科学院信息工程研究所所有</span>
       		<a class="footer_text3" href="">关于网站</a>|
       	 	<a class="footer_text3" href="">联系方式</a>|
       		<a class="footer_text3" href="">合作模式</a>|
       		<a class="footer_text3" href="">官方微信</a>|
         	<a class="footer_text3" href="">中国科学院信息工程研究所</a>|
    	</div>
     
    <div th:fragment="html">
